<!doctype html>
<html lang="en" ng-app="todoAngular">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDangular</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-controller="MainCtrl as app">
		<section id="todoapp" >
			<header id="header">
				<h1>todos</h1>
				<form ng-submit="app.addTodo()">
				<input id="new-todo" placeholder="What needs to be done?"  ng-model="app.newTodo" autofocus>
                </form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main">
				<input id="toggle-all" type="checkbox" ng-model="allDone" ng-click="app.allCompleted(allDone)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-class="{completed: todos.completed, editing: todos.todoEdit, active: todos.active && !todos.completed}" class="active" ng-repeat="todos in app.todos">
						<div class="view" >
							<input class="toggle" type="checkbox" ng-click="app.completed(todos.completed)" ng-model="todos.completed">
							<label ng-dblclick="app.editTodo(todos)">{{todos.content}}</label>
							<button class="destroy" ng-click=app.deleteTodo(todos)></button>
						</div>
						<form ng-submit="app.editing(todos)">
						<input class="edit" ng-model="todos.content">
						</form>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer" ng-show="app.todos.length">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count" ng-model="app.todos.length"><strong>{{app.todos.length | filter:{completed :false} }}</strong> 
				    <ng-pluralize count="app.todos.length" when="{'1': 'item left', 'other': 'items left' }"></ng-pluralize>
				</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" ng-show="app.noComplete()" ng-click="app.clearCompleted()"></button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="logan@loganarnett.com">Logan Arnett</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
