<section id="todoapp" ng-controller="TodoCtrl as task">
			<header id="header">
				<h1>todos</h1>
				<form ng-submit="task.addTodo()">
				<input id="new-todo" placeholder="What needs to be done?"  ng-model="task.newTodo" autofocus>
                </form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main">
				<input id="toggle-all" type="checkbox" ng-model="task.allDone" ng-click="task.allCompleted(task.todos)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-class="{completed: todos.completed, editing: todos.todoEdit, active: todos.active && !todos.completed}" class="active" ng-repeat="(id, todos) in task.todos">
						<div class="view" >
							<input class="toggle" type="checkbox" ng-click="task.done(todos)" ng-model="todos.completed">
							<label ng-dblclick="task.editTodo(todos)">{{todos.content}}</label>
							<button class="destroy" ng-click=task.deleteTodo(todos)></button>
						</div>
						<form ng-submit="task.editing(todos)">
						<input class="edit" ng-model="todos.content">
						</form>
					</li>

				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer" ng-show="task.todos.length">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count" ng-model="task.countLeft"><strong>{{task.countLeft}}</strong>
				    <ng-pluralize count="task.todos.length" when="{'1': 'item left', 'other': 'items left' }"></ng-pluralize>
						<span ng-hide="true">{{task.remainingCount(task.todos)}}</span>
				</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
					<li>
						<button ng-click="task.active()">Activate</button>
					</li>

				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" ng-show="task.noComplete()" ng-click="task.clearCompleted()"></button>

			</footer>

		</section>
